@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
$color: #ee315d;
html {
  scroll-behavior: smooth;
}
// *{
//   outline : 1px solid red;
// }
.App {
  text-align: center;
  font-family: "Outfit", sans-serif;
  transition: all 0.3s;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  button {
    background: $color;
    border: none;
    font-size: 15px;
    color: white;
  }
  input {
    outline: none;
  }
  ::placeholder {
    color: #a09f9f;
  }
}

.refuse-container{
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.refuse-container h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    overflow: hdden;
}

.refuse-container p {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 778px) {
.refuse-container{
    margin: 0 20px;
}

.refuse-container h2 {
    font-size: 25px;
}

.refuse-container p {
    font-size: 16px;
}

}
